<div class="fondo-modal-imagen oculto animated fadeIn fast"
    [class.oculto]="modalTransactionService.ocultarModal"        
>   

    <div 
        class="modal fade show"
        id="exampleModal" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="exampleModalLabel1" 
        style="display: block;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">{{modalTransactionService.modalTitle}} </h4>
                    <button type="button"
                    class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true"
                   
                    >×</span></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">  
                            <form class="example-form" 
                            class="form-horizontal form-material" 
                            id="loginform"     
                            autocomplete="off"
                            [formGroup]="modalTransactionService.transactionForm"
                            (ngSubmit)="enviarDatos()">
                            <mat-form-field appearance="outline">
                                <mat-label>Cuenta:</mat-label>
                                <mat-select formControlName="account" >
                                    <mat-option
                                        *ngFor="let account of modalTransactionService.accounts"
                                        [value]="account.name">
                                        {{account.name}}
                                    </mat-option>                                 
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Categoria:</mat-label>
                                <mat-select formControlName="category" >
                                    <mat-option
                                        *ngFor="let category of modalTransactionService.categories"
                                        [value]="category.name">
                                        {{category.name}}
                                    </mat-option>                                 
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Descripción:</mat-label>
                                <input matInput 
                                    placeholder="Descripción" 
                                    formControlName="description" 
                                    type="text"
                                >
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                <mat-label>Valor:</mat-label>
                                <input matInput 
                                    placeholder="Valor" 
                                    formControlName="value"                                     
                                    type="number"
                                    (keyup)="calcularTotal()"
                                    (change)="calcularTotal()"
                                >
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                <mat-label>Cantidad:</mat-label>
                                <input matInput 
                                    placeholder="Cantidad" 
                                    formControlName="quantity"                                     
                                    type="number"
                                    (keyup)="calcularTotal()"
                                    (change)="calcularTotal()"
                                >
                              </mat-form-field>     
                              <mat-form-field appearance="outline">
                                <mat-label>Fecha:</mat-label>
                                <input matInput 
                                    placeholder="Fecha" 
                                    formControlName="date"                                     
                                    type="date"                                    
                                >
                              </mat-form-field>    
                              <mat-form-field appearance="outline">
                                <mat-label>Total:</mat-label>
                                <input matInput 
                                    placeholder="Total" 
                                    formControlName="total"                                     
                                    type="text"                                       
                                    [(ngModel)]="total"                                  
                                >
                              </mat-form-field>                                
                            <button type="submit" class="btn btn-primary btn-block button">Guardar</button>
                        </form>  
                        </div> 
                                      
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
