<br>
<form 
    class="form-inline"
    [formGroup]="budgetForm"
    (ngSubmit)="sendData()"    
>            
    <mat-form-field appearance="outline"  fxFlex="100%">
        <mat-label>Nombre:</mat-label>
        <input matInput 
        id="name" 
        placeholder="Nombre"
        formControlName="name" 
        [(ngModel)]="budgetName"                                                                 
    >
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="100%">
        <mat-label>Afecta Inventario:</mat-label>
        <mat-select 
            formControlName="AffectBudget" 
            [compareWith]="compareObjects" 
            [(ngModel)]="AffectBudget"
            >
            <mat-option value="0">No</mat-option>
            <mat-option value="1">Sí</mat-option>
        </mat-select>
    </mat-form-field>    
    <button 
        fxFlex="100%"
        mat-raised-button type="submit" 
        [disabled]="!budgetForm.valid" 
        color="primary">Editar
    </button>   
    <button 
        fxFlex="100%"
        mat-raised-button 
        (click)="goToCopy()"         
        color="primary">Copiar
    </button>             
</form>