<div id="main-wrapper">
    <app-header></app-header>     
    <div class="page-wrapper mt-2">
      <div class="container-fluid">
        <div class="uploader-status spinner-background" *ngIf="utilsService.getLoading()">
          <mat-spinner class="spinner"></mat-spinner>
        </div>
        <router-outlet></router-outlet>
        <!--<div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-body">
                    
                  </div>
              </div>
          </div>
        </div>-->
      </div>
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <!--<footer class="footer text-center">
          © 20XX GrowSp by Developit
      </footer>-->
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
  </div>
  