<!--<div id="main-wrapper">
    <app-header></app-header>     
    <div class="page-wrapper mt-2">
      <div class="container-fluid">
        <div class="uploader-status spinner-background" *ngIf="utilsService.getLoading()">
          <mat-spinner class="spinner"></mat-spinner>
        </div>
        <router-outlet></router-outlet>
        <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-body">
                    
                  </div>
              </div>
          </div>
        </div>
      </div>-->
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <!--<footer class="footer text-center">
          © 20XX GrowSp by Developit
      </footer>-->
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== 
    </div>
  </div>-->
  
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!--in here all the content must reside. We will add a navigation header as well-->
      <main>
        <app-header  (sidenavToggle)="sidenav.toggle()"></app-header>   
        <div class="uploader-status spinner-background" *ngIf="utilsService.getLoading()">
          <mat-spinner class="spinner"></mat-spinner>
        </div>        
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>