<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 ">
            <div class="card login-card"> 
                <div class="card-header text-center cardHeader">
                    Iniciar sesión
                </div>       
                <div class="card-body">                   
                    <form   
                        class="form-horizontal form-material" 
                        id="loginform"     
                        autocomplete="off"
                        [formGroup]="loginForm"
                        (ngSubmit)="login()"  
                    >
                        <div class="form-group">                            
                            <input                             
                                class="form-control input-border"                             
                                type="email"                             
                                placeholder="Email"                                                        
                                formControlName="email"
                            />                    
                        </div>
                        <div class="form-group">                            
                            <input 
                                type="password" 
                                class="form-control input-border-password" 
                                placeholder="Password"
                                formControlName="password"
                            />
                        </div>                
                        <button type="submit" class="btn btn-primary btn-block button">Ingresar</button>
                    </form>
                </div>
            </div>  
    </div>   
</div>