<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.15%" fxLayoutAlign="center"> 
    <div fxLayout="column" fxLayoutGap="0.15%" fxLayoutAlign="center">
      <mat-list>
        <mat-list-item *ngFor="let account of accounts">
          <mat-icon matListIcon color="primary">account_balance</mat-icon>
          <h3 matLine>{{account.name}}</h3>
          <p matLine>
            <span>{{account.total| currency}}</span>        
          </p>
          <button mat-mini-fab color="primary" (click)="showAdjustPage(account)">
            <mat-icon>build</mat-icon>
          </button>   
        </mat-list-item>    
      </mat-list>  
  
    <div class="row animated fadeIn fast" *ngIf="cargando">
      <div class="col-12">
          <div class="alert alert-info text-center" role="alert">
              <h4 class="alert-heading">Cargando...</h4>
              <i class="fa fa-spin fa-refresh fa-2x"></i>
              <p class="mb-0"> Por favor espere</p>
          </div>
      </div>
    </div>
    <mat-form-field>
      <mat-icon matSuffix>search</mat-icon>      
      <input matInput placeholder="Buscar" type="text" (keyup)="search(txtTermino.value)" #txtTermino>
    </mat-form-field> 
    <h4 class="card-title">Transacciones registradas {{totalTransactions}}</h4>
    <app-transactions-table
        [transactions]="transactions"
        [fromTransactions]="true"
    ></app-transactions-table>
    <app-paginator
        [total]="totalTransactions"
        [desde]="desde"
        [itemsPerPage]="10"
        (newPage)="changePage($event)"
    ></app-paginator>
  </div>
  
</div>     
<app-modal-transaction
  (refreshTransactionEvent)="refreshTransactions($event)"
></app-modal-transaction>
<app-modal-adjustment-account
  (refreshTransactionEvent)="refreshTransactions($event)"
></app-modal-adjustment-account>
