<form
    class="form-horizontal form-material" 
    id="loginform"     
    autocomplete="off"
    [formGroup]="budgetForm"
    (ngSubmit)="sendData()"           
>              
    <div fxLayout="row">  
        <mat-form-field appearance="outline"  fxFlex="100%">
            <mat-label>Nombre del presupuesto:</mat-label>
            <input matInput 
            type="text" 
            id="name"   
            formControlName="name"         
            [(ngModel)]="name"                                                                
        >
        </mat-form-field>
    </div>    
    <div fxLayout="row"> 
        <button 
            fxFlex="100%"
            mat-raised-button 
            type="submit"
            [disabled]="!budgetForm.valid" 
            color="primary">Crear
        </button>      
    </div>               
</form>       