<mat-list dense fxFlex.xs="1 1 400px">
    <mat-list-item *ngFor="let transaction of transactions" [class.has-budget-detail]="transaction.budget_detail_name&&!fromTransactions">                
        <h3 matLine><strong>{{transaction.netValue}} - {{transaction.description}}</strong></h3>
        <div matLine><strong>Cuenta: </strong>{{transaction.account_name}} </div>
        <h4 matLine><strong>Presupuesto: </strong> {{transaction.budget_detail_name}} </h4>    
        <h4 matLine><strong>Categoria: </strong>{{transaction.category_name}}</h4>  
        <h4 matLine><strong>Tipo: </strong>{{transaction.type_name}}<strong> Fecha: </strong>{{transaction.dateString}}</h4>   
        
        <div class="col-2 col-offset-10">
            <button 
                mat-icon-button 
                class="selector"  
                style="float:right"
                 title="Agregar transacción"          
                (click)="abrirModal(transaction,1)">        
                <mat-icon color="primary">add_circle</mat-icon>                
            </button>        
            <button 
                mat-icon-button 
                class="selector" 
                style="float:right"
                 title="Editar transacción"          
                (click)="abrirModal(transaction,2)">        
                <mat-icon color="primary">edit</mat-icon>
            </button>          
            <button  
                mat-icon-button 
                *ngIf="!fromTransactions&&transaction.account_name" 
                title="Asociar transacción"                
                class="selector" 
                style="float:right" (click)="add(transaction)">        
                <mat-icon color="primary">link</mat-icon>
            </button> 
        </div>       
        <mat-divider class="mt-4"></mat-divider>
    </mat-list-item>
</mat-list>