<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">   
    <app-edit-budget-form
        [budgetName]="budgetName"
        [AffectBudget]="AffectBudget"
        [id_budget]="id"
    ></app-edit-budget-form>
    <mat-list dense>
        <mat-list-item *ngFor="let budgetDetail of budgetDetails">
            <h3 matLine><strong>{{budgetDetail.description}}</strong></h3>
            <div matLine><strong>Valor neto: </strong>{{budgetDetail.netValue}} </div>
            <h4 matLine><strong>Valor: </strong> {{budgetDetail.value}} </h4>    
            <h4 matLine><strong>Transacciones: </strong>{{budgetDetail.totalTransactions}}</h4>  
            <h4 matLine><strong>Valor Inicial: </strong>{{budgetDetail.initial_value}}<strong> Porcentaje: </strong>{{budgetDetail.percentage}}</h4>   
            <h4 matLine><strong>Tipo: </strong>{{budgetDetail.type}}</h4>
            <button 
                mat-icon-button 
                class="selector"  
                style="float:right"
                 title="Agregar transacción"          
                (click)="openBudgetDetail(budgetDetail.id)">        
                <mat-icon color="primary">edit</mat-icon>                
            </button>      
        </mat-list-item> 
    </mat-list>
    <mat-card>
        <mat-card-title>
            <strong>Crear detalle de presupuesto</strong>
        </mat-card-title>
        <mat-card-content>
            <app-create-budget-detail-form
                [id_budget]="id"
                [form_type]="1"
                (refreshView)="getBudgetDetails()"
            >
            </app-create-budget-detail-form>
        </mat-card-content>
    </mat-card>
</div>