<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/dashboard">Home</a>            
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/dashboard/transactions">Transactions</a>            
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/dashboard/budgets">Budgets</a>            
          </li>
              
        </ul>
    </div>    
    <div class="text-left">
        <button (click)="cerrarSesion()"  class="btn btn-outline-success my-2 my-sm-0" >Cerrar Sesión</button>
    </div>
  </nav>