<mat-nav-list>
    <a  *ngFor="let option of menuOptions" mat-list-item routerLink="{{option.route}}" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">{{option.name}}</span>
    </a>
    <a routerLink="#"  (click)="cerrarSesion()" mat-list-item>
        <mat-icon>logout</mat-icon> <span class="nav-caption">Cerrar sesión</span>
    </a>   
    <!--<a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Owner Actions</span>   
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
    </a>
    <mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon>unfold_more</mat-icon>
        <a matline>Example</a>
    </mat-list-item>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onSidenavClose()">View profile</button>
      <button mat-menu-item (click)="onSidenavClose()">Add contact</button>
    </mat-menu>-->
</mat-nav-list>