<button class="btn btn-success mb-4" (click)="showView('create')" *ngIf="list" >Crear Cuenta</button>
<button class="btn btn-success mb-4" (click)="showView('list')" *ngIf="create" >Listado de cuentas</button>
<app-account-form *ngIf="create" 
    [form_type]="1"
    (refreshView)="getAccounts()"
></app-account-form>
<div class="card" *ngIf="list">
    <div class="card-body">
    <input
        type="text"
        class="form-control"
        placeholder="Buscar"
        (keyup)="search(txtTermino.value)"
        #txtTermino
    />
</div>
<p>Cuentas registradas {{totalAccounts}}</p>
<mat-list *ngIf="list">
    <mat-list-item *ngFor="let account of accounts">     
        <mat-icon mat-list-icon>folder</mat-icon>   
        <h3 matLine>{{account.name}}</h3>               
    </mat-list-item>
</mat-list>
<app-paginator
    *ngIf="list"
    [total]="totalAccounts"
    [desde]="desde"
    [itemsPerPage]="10"
    (newPage)="changePage($event)"
></app-paginator>