<form
    [formGroup]="budgetDetailForm"
    (ngSubmit)="sendData()"  >
    <div fxLayout="row">  
        <mat-form-field appearance="outline"  fxFlex="100%">
            <mat-label>Nombre del detalle:</mat-label>
            <input matInput 
            type="text" id="name" formControlName="name" 
            placeholder="nombre del detalle"                                                                 
        >
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field appearance="outline" fxFlex="100%">
            <mat-label>Valor:</mat-label>
            <input matInput 
            type="text"
            id="value"
            placeholder="valor"
            formControlName="value"
        >
        </mat-form-field>
    </div>
    <div fxLayout="row" *ngIf="form_type=='1'">
        <mat-form-field appearance="outline" fxFlex="100%">
            <mat-label>Cantidad:</mat-label>
            <input matInput 
            type="number"            
            name="quantity"
            placeholder="cantidad"
            formControlName="quantity"
        >
        </mat-form-field>
    </div>
    <div fxLayout="row" *ngIf="form_type=='1'">
        <mat-form-field appearance="outline" fxFlex="100%">
            <mat-label>Select</mat-label>
            <mat-select 
                formControlName="type" 
                [compareWith]="compareCategoryObjects" 
                [ngValue]="type" 
                >
              <mat-option value="0">Gasto</mat-option>
              <mat-option value="1">Ingreso</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <button 
            *ngIf="form_type=='1'"
            fxFlex="100%"
            mat-raised-button type="submit" 
            [disabled]="!budgetDetailForm.valid" 
            color="primary">Crear
        </button>
        <button 
        *ngIf="form_type=='0'"
        fxFlex="100%"
        mat-raised-button type="submit" 
        [disabled]="!budgetDetailForm.valid" 
        color="primary">Editar
    </button>      
    </div>   
</form>
